body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

#main-header {
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to right, #023fad, #7c1f93, #ff0075);
}

#main-content {
    background-color: black;
    color: white;
}

.col1 {
    padding: 5px;
}

.sub-col2 h2 {
    padding: 10px;
}

.sub-col1 {
    padding: 0 40px;
    margin-right: 20px;
}

.sub-col2 {
    height: 100%;
    padding-left: 20px;
}

.sub-col1 h2{
    color: white;
    background-color: #7c1f9389;
    border-radius: 40px;
    border: 3px solid #7c1f93;
    width: 250px;
    padding: 30px;
    text-align: center;
}

#logo-image {
    width: 450px;
    height: 350px;
}

#logo-image:hover {
    cursor: pointer;
}

#main-footer {
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(to right, #023fad, #7c1f93, #ff0075);
    color: black;
}

/*Photo Gallery */

.body-gallery-imgs{
    width: 200px;
    height: 225px;
}

.body-gallery {
    margin: 10px;
    border: 5px solid #023fad;
    border-radius: 5px;
    background-color: #023ead4c;
    text-align: right;
    padding-right: 5px;
}


/* Main Navigation */

#main-nav {
    background-color: rgb(0, 0, 0, .2);
    padding: 2px 10px;
}

#main-nav li {
    text-align: center;
    list-style-type: none; 
    position: relative;
    margin-right: 30px;
}

#main-nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
    padding: 10px 40px;
    margin: auto;
    display: block;
}

#main-nav a:hover {
    background-color: rgb(255, 255, 255, .20);
    padding: 10px 50px;
}

#main-nav .sub-nav{
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 50px;
    margin-bottom: 10px;
}

/* Hide the submenu */
#main-nav li ul {
    display: none;
    position: absolute; /* Position it below the parent li */
    top: 100%;
    left: 0;
    background-color: black; 
    z-index: 1; /* Ensures it's on top of other elements */
    border-radius: 5px;
    padding-top: 10px;
}

/* Show submenu on hover */
#main-nav li:hover > ul {
    display: block;
}

/*Table*/

table {
    color: black;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 75px;
}

th, td {
    padding: 3px 40px;
}

th {
    background-color: #5e75ad;
}

td {
    background-color: #a5a8af;
}


/* Larger Resolutions */

  @media (min-width: 900px) {
    #main-nav ul, .flex-container, #main-content {
        display: flex;
    }
    .gallery {
        flex-wrap: wrap;
    }
    #main-nav li, .column, #face-table, .face-gallery-imgs{
        flex: 1;
    }
}