body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

#main-header {
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to right, #023fad, #7c1f93, #ff0075);
}

#main-content {
    background-color: black;
    color: white;
}

#main-content .flex-container {
    display: flex;
    flex-direction: column;
}

.col1 {
    margin-top: 20px;
    padding: 5px;
}

.col1 h2,p {
    text-align: center;
}

#sub-col1-content p{
    padding: 50px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #2a0625;;
    border: 2px solid #9d188b;
}

.sub-col1 {
    background-color: #622a9956;
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

#logo-image {
    width: 450px;
    height: 350px;
}

#logo-image:hover {
    cursor: pointer;
}

#location-img {
    width: 500px;
    height: 400px;
    border-radius: 10px;
}

#placeholder-img {
    float: left;
    margin-right: 10px;
}

#main-footer {
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(to right, #023fad, #7c1f93, #ff0075);
    color: black;
}

/* Main Navigation */

#main-nav {
    background-color: rgb(0, 0, 0, .2);
    padding: 2px 10px;
}

#main-nav li {
    text-align: center;
    list-style-type: none; 
    position: relative;
    margin-right: 30px;
}

#main-nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
    padding: 5px 30px;
    margin: auto;
    display: block;
}

#main-nav a:hover {
    background-color: rgb(255, 255, 255, .20);
    padding: 5px 40px;
}


#main-nav .sub-nav{
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 40px;
    margin-bottom: 10px;
}

#main-nav .sub-nav:hover{
    background-color:rgb(255, 255, 255, .20);
    padding: 5px 40px;
}

/* Hide the submenu */
#main-nav li ul {
    display: none;
    position: absolute; 
    top: 100%;
    left: 0;
    background-color: black; 
    z-index: 1; 
    border-radius: 5px;
    padding-top: 10px;
}

#main-nav li:hover > ul {
    display: block;
}


/* Form */
form {
    margin: 0 5%;
  }
  
  form label {
    font-size: 0.75em;
    display: block;
  }
  
  form input:not([type="checkbox"]):not([type="radio"]),
  form textarea,
  form button,
  select {
    font-size: 0.75em;
    width: 300px;
    padding: 5px;
  }

  form button {
    cursor: pointer;
    
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 20px;
    padding: 5px;
    width: 20px;
    height: 20px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
  
  form textarea {
    min-height: 200px;
  }

/* Larger Resolutions */

  @media (min-width: 900px) {
    #main-nav ul, .flex-container {
        display: flex;
    }
    #main-nav li, .column, #image-div{
        flex: 1;
    }
}